---
interface Props {
  title: string;
  desc: string;
  favicon: string;
  author: string;
  website: string;
  generator: string;
}

const { title, desc, favicon, author, website, generator } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={desc} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="ico" href={favicon} />
    <meta name="generator" content={Astro.generator} />
    <link rel="autor" href={website} />
    <meta name="autor" content={author} />
    <meta name="generator" content={generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  /* The integration's default injected base.css file */
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  html,
  body {
    background-color: #000000;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
</style>
